name: QA-CI/CD
on:
  workflow_dispatch:
env:
  BuildNumber: ${{github.run_id}}-${{github.run_number}}
jobs:
  setup_and_compile:
    runs-on: ubuntu-latest
    container:
      image: node:18
    steps:
      - name: checking
        shell: bash
        run: echo "hi"
        
